body{
    font-family: sans-serif;
}
h1{
text-align: center;
background-color: #798de7;
padding: 20px;
}
.presentación{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}
li:hover {
    background-color: #adb8e9;
}
